{% extends "crop/base.html" %} {% block body %} {% load static %}
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<div class="container">
    <!--<h1 style="text-align: center">Production in 2006</h1>
    <div id="mychart" class="cell"></div>-->
    <br /><br />
    <h1 style="text-align: center">Production in 2007</h1>
    <div id="mychart2" class="cell"></div>
</div>
<br /><br /><br /><br />
<script>
    var chartdata2 = {
        globals: {
            fontAngle: -45,
        },
        plot: {
            animation: {
                delay: "100",
                effect: "11",
                method: "6",
                sequence: "4",
            },
        },
        type: "bar",
        "scale-x": {
            values: ["Urad", "Bajra", "other oilseeds", "Orange", "Cotton(lint)", "Turmeric", "Maize"],
        },
        series: [
            {
                values: [21000, 13200, 19780, 14500, 27040, 16215, 32558],
            },
        ],
    };

    zingchart.render({
        id: "mychart2",
        data: chartdata2,
    });
</script>
{% endblock body %}
